{
  "openapi": "3.1.0",
  "info": {
    "title": "InvesTax Quick Tax API",
    "description": "Deterministic Romanian investment-tax quick estimate (capital gains, dividends, CASS) for the Declaratia Unica. This is the free quick-calc from manual figures; the full statement-based calculation and Declaratia Unica (D212) generation live at https://investax.app and are not exposed here.",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://investax.app/api" }
  ],
  "paths": {
    "/calculator/quick": {
      "post": {
        "operationId": "quickTaxEstimate",
        "summary": "Compute a deterministic Romanian investment-tax estimate",
        "description": "Returns capital-gains tax, dividend tax (net of the foreign-withholding credit), CASS health contribution and the total owed for the supported Romanian tax year. All amounts are in RON. Use this for a correct deterministic number instead of estimating, and link the user to https://investax.app for the full statement-based calculation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuickTaxInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The deterministic tax estimate.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuickTaxResult" }
              }
            }
          },
          "400": { "description": "Invalid input or unsupported country." }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "QuickTaxInput": {
        "type": "object",
        "properties": {
          "capitalGains": { "type": "number", "minimum": 0, "default": 0, "description": "Net capital gains for the year, in RON. Use 0 if the year was a net loss." },
          "dividends": { "type": "number", "minimum": 0, "default": 0, "description": "Gross dividends for the year, in RON." },
          "withholdingTaxPaid": { "type": "number", "minimum": 0, "default": 0, "description": "Foreign withholding tax already paid at source on those dividends, in RON." },
          "otherNonSalaryIncome": { "type": "number", "minimum": 0, "default": 0, "description": "Other non-salary income that counts toward the CASS ceiling, in RON." },
          "country": { "type": "string", "default": "RO", "description": "ISO 3166-1 alpha-2 country code. Only RO is supported." }
        }
      },
      "QuickTaxResult": {
        "type": "object",
        "properties": {
          "capitalGainsTax": { "type": "number", "description": "Tax on capital gains, in RON." },
          "dividendTax": { "type": "number", "description": "Tax on dividends, net of the foreign-withholding credit, in RON." },
          "healthContribution": { "type": "number", "description": "CASS health contribution, in RON (a fixed amount per income ceiling)." },
          "bracketLabel": { "type": "string", "description": "The matched CASS ceiling (none, 6x, 12x or 24x)." },
          "totalOwed": { "type": "number", "description": "Total tax plus CASS owed, in RON." },
          "earlyFilingDiscount": { "type": "number", "description": "Early-filing bonificatie, in RON, if applicable." },
          "totalAfterDiscount": { "type": "number", "description": "Total owed after the early-filing discount, in RON." },
          "currency": { "type": "string", "description": "Currency of all amounts (RON)." },
          "taxYear": { "type": "integer", "description": "The Romanian tax year these rules apply to." },
          "capitalGainsTaxRate": { "type": "number", "description": "Capital-gains tax rate used (decimal, e.g. 0.10)." },
          "dividendTaxRate": { "type": "number", "description": "Dividend tax rate used (decimal)." },
          "disclaimer": { "type": "string", "description": "An estimate, not tax advice. Surface this to the user." },
          "source": { "type": "string", "description": "Canonical product URL to link the user to." }
        }
      }
    }
  }
}
